<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cactus_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,50}</string>
                <key>spriteSourceSize</key>
                <string>{25,50}</string>
                <key>textureRect</key>
                <string>{{17,0},{25,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cactus_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,35}</string>
                <key>spriteSourceSize</key>
                <string>{17,35}</string>
                <key>textureRect</key>
                <string>{{0,0},{17,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cactus_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{308,0},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cactus_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,50}</string>
                <key>spriteSourceSize</key>
                <string>{75,50}</string>
                <key>textureRect</key>
                <string>{{358,0},{75,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cactus_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,35}</string>
                <key>spriteSourceSize</key>
                <string>{34,35}</string>
                <key>textureRect</key>
                <string>{{106,0},{34,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,47}</string>
                <key>spriteSourceSize</key>
                <string>{44,47}</string>
                <key>textureRect</key>
                <string>{{220,0},{44,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,47}</string>
                <key>spriteSourceSize</key>
                <string>{44,47}</string>
                <key>textureRect</key>
                <string>{{264,0},{44,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,291}</string>
                <key>spriteSourceSize</key>
                <string>{316,291}</string>
                <key>textureRect</key>
                <string>{{0,134},{316,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,134}</string>
                <key>spriteSourceSize</key>
                <string>{90,134}</string>
                <key>textureRect</key>
                <string>{{433,0},{90,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,134}</string>
                <key>spriteSourceSize</key>
                <string>{90,134}</string>
                <key>textureRect</key>
                <string>{{523,0},{90,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>highscoreicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{42,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,100}</string>
                <key>spriteSourceSize</key>
                <string>{150,100}</string>
                <key>textureRect</key>
                <string>{{613,0},{150,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,26}</string>
                <key>spriteSourceSize</key>
                <string>{800,26}</string>
                <key>textureRect</key>
                <string>{{0,431},{800,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,26}</string>
                <key>spriteSourceSize</key>
                <string>{800,26}</string>
                <key>textureRect</key>
                <string>{{0,457},{800,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{74,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sdinos_die.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,43}</string>
                <key>spriteSourceSize</key>
                <string>{40,43}</string>
                <key>textureRect</key>
                <string>{{140,0},{40,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sdinos_jump.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,43}</string>
                <key>spriteSourceSize</key>
                <string>{40,43}</string>
                <key>textureRect</key>
                <string>{{180,0},{40,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,297}</string>
                <key>spriteSourceSize</key>
                <string>{416,297}</string>
                <key>textureRect</key>
                <string>{{316,134},{416,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dw.png</string>
            <key>size</key>
            <string>{800,483}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3dac21d064841f62ab06d6f56115d7de:7f9564b1237283f4d34e34d2b55a4829:d4f6915073f03944958aa0d12e5f3c82$</string>
            <key>textureFileName</key>
            <string>dw.png</string>
        </dict>
    </dict>
</plist>
